<app-header></app-header><br>

<div class="container-fluid bg" style="background-image: url(assets/images.jpeg);">
  <h1 style="text-align: center; color: blue;">User's Data</h1><br><br><br>
  <div class="row">
    <div class="col-md-3">
      <h3>Name:</h3><br>
      <p *ngFor="let item of apiData">
        {{ item.name }}
      </p>
    </div>
    <div class="col-md-3">
      <h3>Username:</h3><br>
      <p *ngFor="let item of apiData">
        {{ item.username }}
      </p>
    </div>
    <div class="col-md-3">
      <h3>Email Address:</h3><br>
      <p *ngFor="let item of apiData">
        {{ item.email }}
      </p>
    </div>
    <div class="col-md-3">
      <h3>City:</h3><br>
      <p *ngFor="let item of apiData">
        {{ item.address.city }}
      </p>
    </div>
  </div>
</div><br><br>

<app-footer></app-footer>